.inventory {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  z-index: 100;
}

.inventory-search {
  margin-bottom: 10px;
  width: 200px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.inventory-item {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  cursor:pointer;
}

.inventory-image {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.inventory-description {
  font-size: 12px;
  color: lightgray;
}

.inventory-action-hint {
  font-size:12px;
  color:yellow;
}
.inventory-bonus {
  margin-top: 8px;
  font-size: 14px;
  color: #84e40d;
}

.inventory-bonus ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inventory-bonus li {
  margin: 4px 0;
}
