.map {
  display: grid;
  grid-template-columns: repeat(10, 80px); /* Размер клетки */
  grid-template-rows: repeat(10, 80px);
  gap: 2px;
  width: max-content; /* Ensure the grid fits the cells exactly */
  height: max-content;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
  margin-left: 100px; /* Сдвиг вправо на 100 пикселей */
}

.cell {
  position: relative;
  width: 80px; /* Размер клетки */
  height: 80px;
  background-color: #d3d3d3; /* Changed to a soft gray */
  border: 1px solid #333; /* Darker border for better visibility */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.cell:hover {
  background-color: #b0b0b0; /* Slightly darker gray for hover effect */
}

.cell.player {
  border: 2px solid red; /* Highlight cell with player */
}

.resource {
  position: relative;
}

.tooltip {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Добавляет тень */
  font-size: 14px;
  line-height: 1.4;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s ease; /* Плавное появление */
}

.resource:hover .tooltip {
  opacity: 1; /* Показывает tooltip при наведении */
}
