/*
********************************************************************************************
********************************************************************************************
********************************************************************************************
********************************************************************************************
                               src/styles/player.css
********************************************************************************************
********************************************************************************************
********************************************************************************************
********************************************************************************************
*/

.player-info {
  margin:5px;
  padding:5px;
  border:1px solid #444;
  border-radius:4px;
}

.red-player {
  color:red;
}

.blue-player {
  color:rgb(4, 104, 255);
}

.active {
  border-color: yellow;
}
