/*
********************************************************************************************
********************************************************************************************
********************************************************************************************
********************************************************************************************
                               src/styles/resource.css
********************************************************************************************
********************************************************************************************
********************************************************************************************
********************************************************************************************
*/

.resource {
    position: relative;
  }
  
  .tooltip {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
  }
  