.tile {
  width: 80px;
  height: 80px;
  background-color: #d3d3d3;
  border: 1px solid #333;
  position: relative;
}

.tile.portal {
  background-color: purple;
}

.tile.barrel {
  background-color: #8B4513;
}

.tile.monster {
  background-color: darkred;
}

.resource {
  position: absolute;
  top: 5px;
  left: 5px;
}

.tooltip {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 100;
}

.resource:hover .tooltip {
  opacity: 1;
}

.players-on-tile {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  gap: 3px;
}

/* Каждый игрок - кружок своего цвета */
/* Player 0 - красный */
.player-circle {
  position: absolute;
  top: -60px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.tile .player {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%; /* Круглый игрок */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Тень для эффекта объема */
  position: absolute;
  z-index: 2; /* Игрок выше ресурса */
}

.tile .resource {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; /* Указатель при наведении */
  z-index: 1; /* Ресурс ниже игрока */
}

.tile .resource-image {
  width: 50px; /* Размер изображения ресурса */
  height: 50px;
  object-fit: cover; /* Подгонка изображения */
  border-radius: 5px; /* Слегка скругленные края */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Легкая тень для эффекта */
}

/* Если у вас больше игроков, можно добавить больше классов: player-circle-2, player-circle-3 и т.д. */
.player-circle-0 {
  background-color: red;
}
.player-circle-1 {
  background-color: blue;
  left: 40px
}
.player-circle-2 {
  background-color: green;
  
}
.player-circle-3 {
  background-color: yellow;
}
