.tooltip {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    background-color: var(--header-footer-bg); /* Общий цвет */
    color: var(--text-color);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    line-height: 1.4;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация */
  }
  
  .resource:hover .tooltip {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px); /* Легкий эффект поднятия */
  }
  